<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Handlee&display=swap" rel="stylesheet">
  <title>Quizzes</title>
  <style>
    h1,h2,h3 {
        font-family: 'Handlee', cursive;
    }

    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    legend {
        font-weight: bold;
    }

    .question {
        background: #fffaad;
        padding: 12px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
  </style>
</head>
<body>

    {% block content %}
    {% endblock %}

</body>
</html>
