-r src/requirements.txt
pre-commit
ruff
black
pytest
coverage
pytest-cov
pytest-dotenv
playwright
pytest-playwright
pytest-flask
axe-playwright-python
git+https://github.com/pamelafox/pytest-snapshot.git@addcallback
